<%= form_for @recipe , html: { multipart: true } do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :recipe_type_id %>
    <%= f.collection_select(:recipe_type_id, @recipe_types, :id, :name) %>

  </div>
  <div>
    <%= f.label :cuisine_id %>
    <%= f.collection_select(:cuisine_id, @cuisines, :id, :name) %>
  </div>
  <div>
    <%= f.label :difficulty %>
    <%= f.select :difficulty, @difficulties %>
  </div>
  <div>
    <%= f.label :cook_time %>
    <%= f.text_field :cook_time %>
  </div>
  <div>
    <%= f.label :ingredients  %>
    <%= f.text_area :ingredients %>
  </div>
  <div>
    <%= f.label :method %>
    <%= f.text_area :method %>
  </div>
  <div>
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
