<h1><%= @cozinha.name %></h1>

<% if @receitas.empty? %>
  <p>Nenhuma receita encontrada para este tipo de cozinha</p>
<% else%>
  <% @receitas.each do |receita| %>
  <div>
    <h1><%= receita.title %></h1>
    <ul>
      <li><%= receita.recipe_type %></li>
      <li><%= receita.cuisine.name %></li>
      <li><%= receita.difficulty %></li>
      <li><%= receita.cook_time %> minutos</li>

    </ul>
  </div>
  <% end %>
<% end %>

<%= link_to 'Voltar', root_path %>
