<h1>My CookBook</h1>
<p>
  Bem-vindo ao maior livro de receitas online
</p>

<% @receitas.each do |receita| %>
  <h1><%= link_to receita.title, recipe_path(receita.id) %></h1>
  <ul>
    <li>ID: <%= receita.id %></li>
    <li>Tipo de Receita: <%= receita.recipe_type %></li>
    <li>Cozinha: <%= receita.cuisine.name %></li>
    <li>Dificuldade: <%= receita.difficulty %></li>
    <li>Tempo de Preparo: <%= receita.cook_time %> minutos</li>
  </ul>
<% end %>

<%= link_to 'Enviar uma receita', new_recipe_path %>
