<h1>Cadastrar um tipo de receita</h1>
<% if @recipe_type.errors.any? %>
  <div id="msg_errors">
    <% @recipe_type.errors[:name].each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>

<%= form_for @recipe_type do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>
<p>
  <%= link_to 'Voltar', root_path %>
</p>
