<h1>Cadastrar um tipo de receita</h1>
<%= render partial: "shared/errors", locals: {object: @recipe_type} %>

<%= form_for @recipe_type do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>
<p>
  <%= link_to 'Voltar', root_path %>
</p>
