<h1><%= @recipe_types.name %></h1>

<% if @recipe_types.recipes.empty? %>
  <p>Nenhuma receita encontrada para este tipo de receitas</p>
<% else %>
  <% @recipe_types.recipes.each do |recipe| %>
    <div>
      <h1><%= recipe.title %></h1>
      <ul>
        <li><%= recipe.recipe_type.name %></li>
        <li><%= recipe.cuisine.name %></li>
        <li><%= recipe.t_difficulty %></li>
        <li><%= recipe.cook_time %> minutos</li>
      </ul>
    </div>
  <% end %>
<% end %>

<%= link_to 'Voltar', root_path %>
